@charset "UTF-8";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

footer,
header,
nav,
{
  display: block;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  height: 100%;
}

a:active,
a:hover {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

b,
strong {
  font-weight: bold;
}

code,
kbd,
pre,
samp {
  font-family: Ubuntu_monospaced, Monaco, 'Andale Mono', 'Courier New', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  width: auto;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../font/ubuntu-b-webfont.eot");
  src: local("Ubuntu bold"), local("Ubuntu"), url("../font/ubuntu-b-webfont.eot?#iefix") format("embedded-opentype"), url("../font/ubuntu-b-webfont.woff") format("woff"), url("../font/ubuntu-b-webfont.ttf") format("truetype"), url("../font/ubuntu-b-webfont.svg#ubuntubold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("../font/ubuntu-bi-webfont.eot");
  src: local("Ubuntu bold italic"), local("Ubuntu"), url("../font/ubuntu-bi-webfont.eot?#iefix") format("embedded-opentype"), url("../font/ubuntu-bi-webfont.woff") format("woff"), url("../font/ubuntu-bi-webfont.ttf") format("truetype"), url("../font/ubuntu-bi-webfont.svg#ubuntubold_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("../font/ubuntu-r-webfont.eot");
  src: local("Ubuntu"), url("../font/ubuntu-r-webfont.eot?#iefix") format("embedded-opentype"), url("../font/ubuntu-r-webfont.woff") format("woff"), url("../font/ubuntu-r-webfont.ttf") format("truetype"), url("../font/ubuntu-r-webfont.svg#ubunturegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("../font/ubuntu-ri-webfont.eot");
  src: local("Ubuntu italic"), local("Ubuntu"), url("../font/ubuntu-ri-webfont.eot?#iefix") format("embedded-opentype"), url("../font/ubuntu-ri-webfont.woff") format("woff"), url("../font/ubuntu-ri-webfont.ttf") format("truetype"), url("../font/ubuntu-ri-webfont.svg#ubuntuitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu_condensed';
  src: url("../font/ubuntu-c-webfont.eot");
  src: local("Ubuntu Condensed"), url("../font/ubuntu-c-webfont.eot?#iefix") format("embedded-opentype"), url("../font/ubuntu-c-webfont.woff") format("woff"), url("../font/ubuntu-c-webfont.ttf") format("truetype"), url("../font/ubuntu-c-webfont.svg#ubuntu_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu_light';
  src: url("../font/ubuntu-l-webfont.eot");
  src: local("Ubuntu Light"), url("../font/ubuntu-l-webfont.eot?#iefix") format("embedded-opentype"), url("../font/ubuntu-l-webfont.woff") format("woff"), url("../font/ubuntu-l-webfont.ttf") format("truetype"), url("../font/ubuntu-l-webfont.svg#ubuntu_lightregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu_light';
  src: url("../font/ubuntu-li-webfont.eot");
  src: local("Ubuntu Light"), url("../font/ubuntu-li-webfont.eot?#iefix") format("embedded-opentype"), url("../font/ubuntu-li-webfont.woff") format("woff"), url("../font/ubuntu-li-webfont.ttf") format("truetype"), url("../font/ubuntu-li-webfont.svg#ubuntu_lightitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu_light';
  src: url("../font/ubuntu-m-webfont.eot");
  src: local("Ubuntu Light"), url("../font/ubuntu-m-webfont.eot?#iefix") format("embedded-opentype"), url("../font/ubuntu-m-webfont.woff") format("woff"), url("../font/ubuntu-m-webfont.ttf") format("truetype"), url("../font/ubuntu-m-webfont.svg#ubuntu_lightbold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu_light';
  src: url("../font/ubuntu-mi-webfont.eot");
  src: local("Ubuntu Light"), url("../font/ubuntu-mi-webfont.eot?#iefix") format("embedded-opentype"), url("../font/ubuntu-mi-webfont.woff") format("woff"), url("../font/ubuntu-mi-webfont.ttf") format("truetype"), url("../font/ubuntu-mi-webfont.svg#ubuntu_lightbold_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu_monospaced';
  src: url("../font/ubuntumono-b-webfont.eot");
  src: local("Ubuntu Mono"), url("../font/ubuntumono-b-webfont.eot?#iefix") format("embedded-opentype"), url("../font/ubuntumono-b-webfont.woff") format("woff"), url("../font/ubuntumono-b-webfont.ttf") format("truetype"), url("../font/ubuntumono-b-webfont.svg#ubuntu_monobold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu_monospaced';
  src: url("../font/ubuntumono-bi-webfont.eot");
  src: local("Ubuntu Mono"), url("../font/ubuntumono-bi-webfont.eot?#iefix") format("embedded-opentype"), url("../font/ubuntumono-bi-webfont.woff") format("woff"), url("../font/ubuntumono-bi-webfont.ttf") format("truetype"), url("../font/ubuntumono-bi-webfont.svg#ubuntu_monobold_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu_monospaced';
  src: url("../font/ubuntumono-r-webfont.eot");
  src: local("Ubuntu Mono"), url("../font/ubuntumono-r-webfont.eot?#iefix") format("embedded-opentype"), url("../font/ubuntumono-r-webfont.woff") format("woff"), url("../font/ubuntumono-r-webfont.ttf") format("truetype"), url("../font/ubuntumono-r-webfont.svg#ubuntu_monoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu_monospaced';
  src: url("../font/ubuntumono-ri-webfont.eot");
  src: local("Ubuntu Mono"), url("../font/ubuntumono-ri-webfont.eot?#iefix") format("embedded-opentype"), url("../font/ubuntumono-ri-webfont.woff") format("woff"), url("../font/ubuntumono-ri-webfont.ttf") format("truetype"), url("../font/ubuntumono-ri-webfont.svg#ubuntu_monoitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
body {
  color: #555555;
  font-family: Ubuntu, Arial, sans-serif;
}

.sans {
  font-family: Ubuntu, Arial, sans-serif;
}

.serif {
  font-family: Times, "Times New Roman", serif;
}

a {
  color: #0069d6;
  text-decoration: none;
}

a:hover {
  color: #007ed5;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #404040;
  line-height: 1.2em;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

small {
  color: #a2a2a2;
  font-size: .6em;
}

p {
  line-height: 1em;
}

pre {
  margin: 1em 0;
}

/* line 333, ../sass/_ink.scss */
blockquote {
  /* Set 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 1.5em 40px;
}


/* line 356, ../sass/_ink.scss */
input,
textarea {
  color: #666;
}

/* line 383, ../sass/_ink.scss */
blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1em;
  margin: 1em 0;
  font-weight: 200;
  font-size: 1.1em;
}

/* line 390, ../sass/_ink.scss */
blockquote small {
  font-size: .9em;
}

/* line 393, ../sass/_ink.scss */
blockquote small::before,
blockquote small::after {
  content: ' — ';
}

/* line 397, ../sass/_ink.scss */
ul,
ol,
dl {
  padding-left: 1.4em;
  margin: 0;
}

/* line 403, ../sass/_ink.scss */
ul.unstyled {
  list-style: none;
  padding-left: 0em;
}

/* line 407, ../sass/_ink.scss */
ul.unstyled ul {
  list-style: disc outside;
  padding-left: 1.4em;
}

/* line 411, ../sass/_ink.scss */
ol > li {
  list-style: decimal outside;
}

/* line 414, ../sass/_ink.scss */
dl {
  padding: 0em;
}

/* line 417, ../sass/_ink.scss */
dl dt {
  font-weight: bold;
  margin-top: .7em;
}

/* line 421, ../sass/_ink.scss */
dl dd {
  padding-left: 1em;
  margin: .5em 0;
}

/* line 425, ../sass/_ink.scss */
ul,
ol {
  line-height: 1.4;
  margin: 0;
  padding-left: 1.4em;
}

/* line 431, ../sass/_ink.scss */
ul li,
ol li {
  margin: .5em 0;
}

/* line 435, ../sass/_ink.scss */
ul.inline li,
ol.inline li {
  float: left;
}

/* line 458, ../sass/_ink.scss */
hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 1em 0;
}

/* line 511, ../sass/_ink.scss */
footer {
  border-top: 1px solid #cccccc;
  background: #f0f0f0;
  overflow: hidden;
  bottom: 0;
}

/*!
 *  Font Awesome 3.2.1
 *  the iconic font designed for Bootstrap
 *  ------------------------------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation can be
 *  found at http://fontawesome.io.  Stay up to date on Twitter at
 *  http://twitter.com/fontawesome.
 *
 *  License
 *  ------------------------------------------------------------------------------
 *  - The Font Awesome font is licensed under SIL OFL 1.1 -
 *    http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Font Awesome documentation licensed under CC BY 3.0 -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"
 *
 *  Author - Dave Gandy
 *  ------------------------------------------------------------------------------
 *  Email: dave@fontawesome.io
 *  Twitter: http://twitter.com/davegandy
 *  Work: Lead Product Designer @ Kyruus - http://kyruus.com
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../font/fontawesome-webfont.eot?v=3.2.1");
  src: url("../font/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("../font/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("../font/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* FONT AWESOME CORE
 * -------------------------- */
/* line 553, ../sass/_ink.scss */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}

/* line 563, ../sass/_ink.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

/* makes the font 33% larger relative to the icon container */
/* line 570, ../sass/_ink.scss */
.icon-large:before {
  font-size: 1.3333333333333333em;
}

/* makes sure icons active on rollover in links */
/* line 574, ../sass/_ink.scss */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline;
}

/* increased font size for icon-large */
/* line 579, ../sass/_ink.scss */
[class^="icon-"].icon-fixed-width,
[class*=" icon-"].icon-fixed-width {
  display: inline-block;
  width: 1.1428571428571428em;
  text-align: right;
  padding-right: 0.2857142857142857em;
}

/* line 586, ../sass/_ink.scss */
[class^="icon-"].icon-fixed-width.icon-large,
[class*=" icon-"].icon-fixed-width.icon-large {
  width: 1.4285714285714286em;
}

/* line 590, ../sass/_ink.scss */
.icons-ul {
  margin-left: 2.142857142857143em;
  list-style-type: none;
}

/* line 594, ../sass/_ink.scss */
.icons-ul > li {
  position: relative;
}

/* line 597, ../sass/_ink.scss */
.icons-ul .icon-li {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  text-align: center;
  line-height: inherit;
}

/* line 604, ../sass/_ink.scss */
[class^="icon-"].hide,
[class*=" icon-"].hide {
  display: none;
}

/* line 608, ../sass/_ink.scss */
.icon-muted {
  color: #eeeeee;
}

/* line 611, ../sass/_ink.scss */
.icon-light {
  color: #ffffff;
}

/* line 614, ../sass/_ink.scss */
.icon-dark {
  color: #333333;
}

/* line 617, ../sass/_ink.scss */
.icon-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 624, ../sass/_ink.scss */
.icon-2x {
  font-size: 2em;
}

/* line 627, ../sass/_ink.scss */
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 633, ../sass/_ink.scss */
.icon-3x {
  font-size: 3em;
}

/* line 636, ../sass/_ink.scss */
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 642, ../sass/_ink.scss */
.icon-4x {
  font-size: 4em;
}

/* line 645, ../sass/_ink.scss */
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 651, ../sass/_ink.scss */
.icon-5x {
  font-size: 5em;
}

/* line 654, ../sass/_ink.scss */
.icon-5x.icon-border {
  border-width: 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

/* line 660, ../sass/_ink.scss */
.pull-right {
  float: right;
}

/* line 663, ../sass/_ink.scss */
.pull-left {
  float: left;
}

/* line 666, ../sass/_ink.scss */
[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: .3em;
}

/* line 670, ../sass/_ink.scss */
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em;
}

/* EXTRAS
 * -------------------------- */
/* Stacked and layered icon */
/* line 677, ../sass/_ink.scss */
.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: -35%;
}

/* line 685, ../sass/_ink.scss */
.icon-stack [class^="icon-"],
.icon-stack [class*=" icon-"] {
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1em;
  line-height: inherit;
  *line-height: 2em;
}

/* line 696, ../sass/_ink.scss */
.icon-stack .icon-stack-base {
  font-size: 2em;
  *line-height: 1em;
}

/* Animated rotating icon */
/* line 701, ../sass/_ink.scss */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

/* Prevent stack and spinners from being taken inline when inside a link */
/* line 709, ../sass/_ink.scss */
a .icon-stack,
a .icon-spin {
  display: inline-block;
  text-decoration: none;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/* Icon rotations and mirroring */
/* line 755, ../sass/_ink.scss */
.icon-rotate-90:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

/* line 763, ../sass/_ink.scss */
.icon-rotate-180:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

/* line 771, ../sass/_ink.scss */
.icon-rotate-270:before {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* line 779, ../sass/_ink.scss */
.icon-flip-horizontal:before {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* line 786, ../sass/_ink.scss */
.icon-flip-vertical:before {
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* ensure rotation occurs inside anchor tags */
/* line 794, ../sass/_ink.scss */
a .icon-rotate-90:before,
a .icon-rotate-180:before,
a .icon-rotate-270:before,
a .icon-flip-horizontal:before,
a .icon-flip-vertical:before {
  display: inline-block;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
/* line 803, ../sass/_ink.scss */
.icon-glass:before {
  content: "\f000";
}

/* line 806, ../sass/_ink.scss */
.icon-music:before {
  content: "\f001";
}

/* line 809, ../sass/_ink.scss */
.icon-search:before {
  content: "\f002";
}

/* line 812, ../sass/_ink.scss */
.icon-envelope-alt:before {
  content: "\f003";
}

/* line 815, ../sass/_ink.scss */
.icon-heart:before {
  content: "\f004";
}

/* line 818, ../sass/_ink.scss */
.icon-star:before {
  content: "\f005";
}

/* line 821, ../sass/_ink.scss */
.icon-star-empty:before {
  content: "\f006";
}

/* line 824, ../sass/_ink.scss */
.icon-user:before {
  content: "\f007";
}

/* line 827, ../sass/_ink.scss */
.icon-film:before {
  content: "\f008";
}

/* line 830, ../sass/_ink.scss */
.icon-th-large:before {
  content: "\f009";
}

/* line 833, ../sass/_ink.scss */
.icon-th:before {
  content: "\f00a";
}

/* line 836, ../sass/_ink.scss */
.icon-th-list:before {
  content: "\f00b";
}

/* line 839, ../sass/_ink.scss */
.icon-ok:before {
  content: "\f00c";
}

/* line 842, ../sass/_ink.scss */
.icon-remove:before {
  content: "\f00d";
}

/* line 845, ../sass/_ink.scss */
.icon-zoom-in:before {
  content: "\f00e";
}

/* line 848, ../sass/_ink.scss */
.icon-zoom-out:before {
  content: "\f010";
}

/* line 851, ../sass/_ink.scss */
.icon-power-off:before,
.icon-off:before {
  content: "\f011";
}

/* line 855, ../sass/_ink.scss */
.icon-signal:before {
  content: "\f012";
}

/* line 858, ../sass/_ink.scss */
.icon-gear:before,
.icon-cog:before {
  content: "\f013";
}

/* line 862, ../sass/_ink.scss */
.icon-trash:before {
  content: "\f014";
}

/* line 865, ../sass/_ink.scss */
.icon-home:before {
  content: "\f015";
}

/* line 868, ../sass/_ink.scss */
.icon-file-alt:before {
  content: "\f016";
}

/* line 871, ../sass/_ink.scss */
.icon-time:before {
  content: "\f017";
}

/* line 874, ../sass/_ink.scss */
.icon-road:before {
  content: "\f018";
}

/* line 877, ../sass/_ink.scss */
.icon-download-alt:before {
  content: "\f019";
}

/* line 880, ../sass/_ink.scss */
.icon-download:before {
  content: "\f01a";
}

/* line 883, ../sass/_ink.scss */
.icon-upload:before {
  content: "\f01b";
}

/* line 886, ../sass/_ink.scss */
.icon-inbox:before {
  content: "\f01c";
}

/* line 889, ../sass/_ink.scss */
.icon-play-circle:before {
  content: "\f01d";
}

/* line 892, ../sass/_ink.scss */
.icon-rotate-right:before,
.icon-repeat:before {
  content: "\f01e";
}

/* line 896, ../sass/_ink.scss */
.icon-refresh:before {
  content: "\f021";
}

/* line 899, ../sass/_ink.scss */
.icon-list-alt:before {
  content: "\f022";
}

/* line 902, ../sass/_ink.scss */
.icon-lock:before {
  content: "\f023";
}

/* line 905, ../sass/_ink.scss */
.icon-flag:before {
  content: "\f024";
}

/* line 908, ../sass/_ink.scss */
.icon-headphones:before {
  content: "\f025";
}

/* line 911, ../sass/_ink.scss */
.icon-volume-off:before {
  content: "\f026";
}

/* line 914, ../sass/_ink.scss */
.icon-volume-down:before {
  content: "\f027";
}

/* line 917, ../sass/_ink.scss */
.icon-volume-up:before {
  content: "\f028";
}

/* line 920, ../sass/_ink.scss */
.icon-qrcode:before {
  content: "\f029";
}

/* line 923, ../sass/_ink.scss */
.icon-barcode:before {
  content: "\f02a";
}

/* line 926, ../sass/_ink.scss */
.icon-tag:before {
  content: "\f02b";
}

/* line 929, ../sass/_ink.scss */
.icon-tags:before {
  content: "\f02c";
}

/* line 932, ../sass/_ink.scss */
.icon-book:before {
  content: "\f02d";
}

/* line 935, ../sass/_ink.scss */
.icon-bookmark:before {
  content: "\f02e";
}

/* line 938, ../sass/_ink.scss */
.icon-print:before {
  content: "\f02f";
}

/* line 941, ../sass/_ink.scss */
.icon-camera:before {
  content: "\f030";
}

/* line 944, ../sass/_ink.scss */
.icon-font:before {
  content: "\f031";
}

/* line 947, ../sass/_ink.scss */
.icon-bold:before {
  content: "\f032";
}

/* line 950, ../sass/_ink.scss */
.icon-italic:before {
  content: "\f033";
}

/* line 953, ../sass/_ink.scss */
.icon-text-height:before {
  content: "\f034";
}

/* line 956, ../sass/_ink.scss */
.icon-text-width:before {
  content: "\f035";
}

/* line 959, ../sass/_ink.scss */
.icon-align-left:before {
  content: "\f036";
}

/* line 962, ../sass/_ink.scss */
.icon-align-center:before {
  content: "\f037";
}

/* line 965, ../sass/_ink.scss */
.icon-align-right:before {
  content: "\f038";
}

/* line 968, ../sass/_ink.scss */
.icon-align-justify:before {
  content: "\f039";
}

/* line 971, ../sass/_ink.scss */
.icon-list:before {
  content: "\f03a";
}

/* line 974, ../sass/_ink.scss */
.icon-indent-left:before {
  content: "\f03b";
}

/* line 977, ../sass/_ink.scss */
.icon-indent-right:before {
  content: "\f03c";
}

/* line 980, ../sass/_ink.scss */
.icon-facetime-video:before {
  content: "\f03d";
}

/* line 983, ../sass/_ink.scss */
.icon-picture:before {
  content: "\f03e";
}

/* line 986, ../sass/_ink.scss */
.icon-pencil:before {
  content: "\f040";
}

/* line 989, ../sass/_ink.scss */
.icon-map-marker:before {
  content: "\f041";
}

/* line 992, ../sass/_ink.scss */
.icon-adjust:before {
  content: "\f042";
}

/* line 995, ../sass/_ink.scss */
.icon-tint:before {
  content: "\f043";
}

/* line 998, ../sass/_ink.scss */
.icon-edit:before {
  content: "\f044";
}

/* line 1001, ../sass/_ink.scss */
.icon-share:before {
  content: "\f045";
}

/* line 1004, ../sass/_ink.scss */
.icon-check:before {
  content: "\f046";
}

/* line 1007, ../sass/_ink.scss */
.icon-move:before {
  content: "\f047";
}

/* line 1010, ../sass/_ink.scss */
.icon-step-backward:before {
  content: "\f048";
}

/* line 1013, ../sass/_ink.scss */
.icon-fast-backward:before {
  content: "\f049";
}

/* line 1016, ../sass/_ink.scss */
.icon-backward:before {
  content: "\f04a";
}

/* line 1019, ../sass/_ink.scss */
.icon-play:before {
  content: "\f04b";
}

/* line 1022, ../sass/_ink.scss */
.icon-pause:before {
  content: "\f04c";
}

/* line 1025, ../sass/_ink.scss */
.icon-stop:before {
  content: "\f04d";
}

/* line 1028, ../sass/_ink.scss */
.icon-forward:before {
  content: "\f04e";
}

/* line 1031, ../sass/_ink.scss */
.icon-fast-forward:before {
  content: "\f050";
}

/* line 1034, ../sass/_ink.scss */
.icon-step-forward:before {
  content: "\f051";
}

/* line 1037, ../sass/_ink.scss */
.icon-eject:before {
  content: "\f052";
}

/* line 1040, ../sass/_ink.scss */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 1043, ../sass/_ink.scss */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 1046, ../sass/_ink.scss */
.icon-plus-sign:before {
  content: "\f055";
}

/* line 1049, ../sass/_ink.scss */
.icon-minus-sign:before {
  content: "\f056";
}

/* line 1052, ../sass/_ink.scss */
.icon-remove-sign:before {
  content: "\f057";
}

/* line 1055, ../sass/_ink.scss */
.icon-ok-sign:before {
  content: "\f058";
}

/* line 1058, ../sass/_ink.scss */
.icon-question-sign:before {
  content: "\f059";
}

/* line 1061, ../sass/_ink.scss */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 1064, ../sass/_ink.scss */
.icon-screenshot:before {
  content: "\f05b";
}

/* line 1067, ../sass/_ink.scss */
.icon-remove-circle:before {
  content: "\f05c";
}

/* line 1070, ../sass/_ink.scss */
.icon-ok-circle:before {
  content: "\f05d";
}

/* line 1073, ../sass/_ink.scss */
.icon-ban-circle:before {
  content: "\f05e";
}

/* line 1076, ../sass/_ink.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 1079, ../sass/_ink.scss */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 1082, ../sass/_ink.scss */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 1085, ../sass/_ink.scss */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 1088, ../sass/_ink.scss */
.icon-mail-forward:before,
.icon-share-alt:before {
  content: "\f064";
}

/* line 1092, ../sass/_ink.scss */
.icon-resize-full:before {
  content: "\f065";
}

/* line 1095, ../sass/_ink.scss */
.icon-resize-small:before {
  content: "\f066";
}

/* line 1098, ../sass/_ink.scss */
.icon-plus:before {
  content: "\f067";
}

/* line 1101, ../sass/_ink.scss */
.icon-minus:before {
  content: "\f068";
}

/* line 1104, ../sass/_ink.scss */
.icon-asterisk:before {
  content: "\f069";
}

/* line 1107, ../sass/_ink.scss */
.icon-exclamation-sign:before {
  content: "\f06a";
}

/* line 1110, ../sass/_ink.scss */
.icon-gift:before {
  content: "\f06b";
}

/* line 1113, ../sass/_ink.scss */
.icon-leaf:before {
  content: "\f06c";
}

/* line 1116, ../sass/_ink.scss */
.icon-fire:before {
  content: "\f06d";
}

/* line 1119, ../sass/_ink.scss */
.icon-eye-open:before {
  content: "\f06e";
}

/* line 1122, ../sass/_ink.scss */
.icon-eye-close:before {
  content: "\f070";
}

/* line 1125, ../sass/_ink.scss */
.icon-warning-sign:before {
  content: "\f071";
}

/* line 1128, ../sass/_ink.scss */
.icon-plane:before {
  content: "\f072";
}

/* line 1131, ../sass/_ink.scss */
.icon-calendar:before {
  content: "\f073";
}

/* line 1134, ../sass/_ink.scss */
.icon-random:before {
  content: "\f074";
}

/* line 1137, ../sass/_ink.scss */
.icon-comment:before {
  content: "\f075";
}

/* line 1140, ../sass/_ink.scss */
.icon-magnet:before {
  content: "\f076";
}

/* line 1143, ../sass/_ink.scss */
.icon-chevron-up:before {
  content: "\f077";
}

/* line 1146, ../sass/_ink.scss */
.icon-chevron-down:before {
  content: "\f078";
}

/* line 1149, ../sass/_ink.scss */
.icon-retweet:before {
  content: "\f079";
}

/* line 1152, ../sass/_ink.scss */
.icon-shopping-cart:before {
  content: "\f07a";
}

/* line 1155, ../sass/_ink.scss */
.icon-folder-close:before {
  content: "\f07b";
}

/* line 1158, ../sass/_ink.scss */
.icon-folder-open:before {
  content: "\f07c";
}

/* line 1161, ../sass/_ink.scss */
.icon-resize-vertical:before {
  content: "\f07d";
}

/* line 1164, ../sass/_ink.scss */
.icon-resize-horizontal:before {
  content: "\f07e";
}

/* line 1167, ../sass/_ink.scss */
.icon-bar-chart:before {
  content: "\f080";
}

/* line 1170, ../sass/_ink.scss */
.icon-twitter-sign:before {
  content: "\f081";
}

/* line 1173, ../sass/_ink.scss */
.icon-facebook-sign:before {
  content: "\f082";
}

/* line 1176, ../sass/_ink.scss */
.icon-camera-retro:before {
  content: "\f083";
}

/* line 1179, ../sass/_ink.scss */
.icon-key:before {
  content: "\f084";
}

/* line 1182, ../sass/_ink.scss */
.icon-gears:before,
.icon-cogs:before {
  content: "\f085";
}

/* line 1186, ../sass/_ink.scss */
.icon-comments:before {
  content: "\f086";
}

/* line 1189, ../sass/_ink.scss */
.icon-thumbs-up-alt:before {
  content: "\f087";
}

/* line 1192, ../sass/_ink.scss */
.icon-thumbs-down-alt:before {
  content: "\f088";
}

/* line 1195, ../sass/_ink.scss */
.icon-star-half:before {
  content: "\f089";
}

/* line 1198, ../sass/_ink.scss */
.icon-heart-empty:before {
  content: "\f08a";
}

/* line 1201, ../sass/_ink.scss */
.icon-signout:before {
  content: "\f08b";
}

/* line 1204, ../sass/_ink.scss */
.icon-linkedin-sign:before {
  content: "\f08c";
}

/* line 1207, ../sass/_ink.scss */
.icon-pushpin:before {
  content: "\f08d";
}

/* line 1210, ../sass/_ink.scss */
.icon-external-link:before {
  content: "\f08e";
}

/* line 1213, ../sass/_ink.scss */
.icon-signin:before {
  content: "\f090";
}

/* line 1216, ../sass/_ink.scss */
.icon-trophy:before {
  content: "\f091";
}

/* line 1219, ../sass/_ink.scss */
.icon-github-sign:before {
  content: "\f092";
}

/* line 1222, ../sass/_ink.scss */
.icon-upload-alt:before {
  content: "\f093";
}

/* line 1225, ../sass/_ink.scss */
.icon-lemon:before {
  content: "\f094";
}

/* line 1228, ../sass/_ink.scss */
.icon-phone:before {
  content: "\f095";
}

/* line 1231, ../sass/_ink.scss */
.icon-unchecked:before,
.icon-check-empty:before {
  content: "\f096";
}

/* line 1235, ../sass/_ink.scss */
.icon-bookmark-empty:before {
  content: "\f097";
}

/* line 1238, ../sass/_ink.scss */
.icon-phone-sign:before {
  content: "\f098";
}

/* line 1241, ../sass/_ink.scss */
.icon-twitter:before {
  content: "\f099";
}

/* line 1244, ../sass/_ink.scss */
.icon-facebook:before {
  content: "\f09a";
}

/* line 1247, ../sass/_ink.scss */
.icon-github:before {
  content: "\f09b";
}

/* line 1250, ../sass/_ink.scss */
.icon-unlock:before {
  content: "\f09c";
}

/* line 1253, ../sass/_ink.scss */
.icon-credit-card:before {
  content: "\f09d";
}

/* line 1256, ../sass/_ink.scss */
.icon-rss:before {
  content: "\f09e";
}

/* line 1259, ../sass/_ink.scss */
.icon-hdd:before {
  content: "\f0a0";
}

/* line 1262, ../sass/_ink.scss */
.icon-bullhorn:before {
  content: "\f0a1";
}

/* line 1265, ../sass/_ink.scss */
.icon-bell:before {
  content: "\f0a2";
}

/* line 1268, ../sass/_ink.scss */
.icon-certificate:before {
  content: "\f0a3";
}

/* line 1271, ../sass/_ink.scss */
.icon-hand-right:before {
  content: "\f0a4";
}

/* line 1274, ../sass/_ink.scss */
.icon-hand-left:before {
  content: "\f0a5";
}

/* line 1277, ../sass/_ink.scss */
.icon-hand-up:before {
  content: "\f0a6";
}

/* line 1280, ../sass/_ink.scss */
.icon-hand-down:before {
  content: "\f0a7";
}

/* line 1283, ../sass/_ink.scss */
.icon-circle-arrow-left:before {
  content: "\f0a8";
}

/* line 1286, ../sass/_ink.scss */
.icon-circle-arrow-right:before {
  content: "\f0a9";
}

/* line 1289, ../sass/_ink.scss */
.icon-circle-arrow-up:before {
  content: "\f0aa";
}

/* line 1292, ../sass/_ink.scss */
.icon-circle-arrow-down:before {
  content: "\f0ab";
}

/* line 1295, ../sass/_ink.scss */
.icon-globe:before {
  content: "\f0ac";
}

/* line 1298, ../sass/_ink.scss */
.icon-wrench:before {
  content: "\f0ad";
}

/* line 1301, ../sass/_ink.scss */
.icon-tasks:before {
  content: "\f0ae";
}

/* line 1304, ../sass/_ink.scss */
.icon-filter:before {
  content: "\f0b0";
}

/* line 1307, ../sass/_ink.scss */
.icon-briefcase:before {
  content: "\f0b1";
}

/* line 1310, ../sass/_ink.scss */
.icon-fullscreen:before {
  content: "\f0b2";
}

/* line 1313, ../sass/_ink.scss */
.icon-group:before {
  content: "\f0c0";
}

/* line 1316, ../sass/_ink.scss */
.icon-link:before {
  content: "\f0c1";
}

/* line 1319, ../sass/_ink.scss */
.icon-cloud:before {
  content: "\f0c2";
}

/* line 1322, ../sass/_ink.scss */
.icon-beaker:before {
  content: "\f0c3";
}

/* line 1325, ../sass/_ink.scss */
.icon-cut:before {
  content: "\f0c4";
}

/* line 1328, ../sass/_ink.scss */
.icon-copy:before {
  content: "\f0c5";
}

/* line 1331, ../sass/_ink.scss */
.icon-paperclip:before,
.icon-paper-clip:before {
  content: "\f0c6";
}

/* line 1335, ../sass/_ink.scss */
.icon-save:before {
  content: "\f0c7";
}

/* line 1338, ../sass/_ink.scss */
.icon-sign-blank:before {
  content: "\f0c8";
}

/* line 1341, ../sass/_ink.scss */
.icon-reorder:before {
  content: "\f0c9";
}

/* line 1344, ../sass/_ink.scss */
.icon-list-ul:before {
  content: "\f0ca";
}

/* line 1347, ../sass/_ink.scss */
.icon-list-ol:before {
  content: "\f0cb";
}

/* line 1350, ../sass/_ink.scss */
.icon-strikethrough:before {
  content: "\f0cc";
}

/* line 1353, ../sass/_ink.scss */
.icon-underline:before {
  content: "\f0cd";
}

/* line 1356, ../sass/_ink.scss */
.icon-table:before {
  content: "\f0ce";
}

/* line 1359, ../sass/_ink.scss */
.icon-magic:before {
  content: "\f0d0";
}

/* line 1362, ../sass/_ink.scss */
.icon-truck:before {
  content: "\f0d1";
}

/* line 1365, ../sass/_ink.scss */
.icon-pinterest:before {
  content: "\f0d2";
}

/* line 1368, ../sass/_ink.scss */
.icon-pinterest-sign:before {
  content: "\f0d3";
}

/* line 1371, ../sass/_ink.scss */
.icon-google-plus-sign:before {
  content: "\f0d4";
}

/* line 1374, ../sass/_ink.scss */
.icon-google-plus:before {
  content: "\f0d5";
}

/* line 1377, ../sass/_ink.scss */
.icon-money:before {
  content: "\f0d6";
}

/* line 1380, ../sass/_ink.scss */
.icon-caret-down:before {
  content: "\f0d7";
}

/* line 1383, ../sass/_ink.scss */
.icon-caret-up:before {
  content: "\f0d8";
}

/* line 1386, ../sass/_ink.scss */
.icon-caret-left:before {
  content: "\f0d9";
}

/* line 1389, ../sass/_ink.scss */
.icon-caret-right:before {
  content: "\f0da";
}

/* line 1392, ../sass/_ink.scss */
.icon-columns:before {
  content: "\f0db";
}

/* line 1395, ../sass/_ink.scss */
.icon-sort:before {
  content: "\f0dc";
}

/* line 1398, ../sass/_ink.scss */
.icon-sort-down:before {
  content: "\f0dd";
}

/* line 1401, ../sass/_ink.scss */
.icon-sort-up:before {
  content: "\f0de";
}

/* line 1404, ../sass/_ink.scss */
.icon-envelope:before {
  content: "\f0e0";
}

/* line 1407, ../sass/_ink.scss */
.icon-linkedin:before {
  content: "\f0e1";
}

/* line 1410, ../sass/_ink.scss */
.icon-rotate-left:before,
.icon-undo:before {
  content: "\f0e2";
}

/* line 1414, ../sass/_ink.scss */
.icon-legal:before {
  content: "\f0e3";
}

/* line 1417, ../sass/_ink.scss */
.icon-dashboard:before {
  content: "\f0e4";
}

/* line 1420, ../sass/_ink.scss */
.icon-comment-alt:before {
  content: "\f0e5";
}

/* line 1423, ../sass/_ink.scss */
.icon-comments-alt:before {
  content: "\f0e6";
}

/* line 1426, ../sass/_ink.scss */
.icon-bolt:before {
  content: "\f0e7";
}

/* line 1429, ../sass/_ink.scss */
.icon-sitemap:before {
  content: "\f0e8";
}

/* line 1432, ../sass/_ink.scss */
.icon-umbrella:before {
  content: "\f0e9";
}

/* line 1435, ../sass/_ink.scss */
.icon-paste:before {
  content: "\f0ea";
}

/* line 1438, ../sass/_ink.scss */
.icon-lightbulb:before {
  content: "\f0eb";
}

/* line 1441, ../sass/_ink.scss */
.icon-exchange:before {
  content: "\f0ec";
}

/* line 1444, ../sass/_ink.scss */
.icon-cloud-download:before {
  content: "\f0ed";
}

/* line 1447, ../sass/_ink.scss */
.icon-cloud-upload:before {
  content: "\f0ee";
}

/* line 1450, ../sass/_ink.scss */
.icon-user-md:before {
  content: "\f0f0";
}

/* line 1453, ../sass/_ink.scss */
.icon-stethoscope:before {
  content: "\f0f1";
}

/* line 1456, ../sass/_ink.scss */
.icon-suitcase:before {
  content: "\f0f2";
}

/* line 1459, ../sass/_ink.scss */
.icon-bell-alt:before {
  content: "\f0f3";
}

/* line 1462, ../sass/_ink.scss */
.icon-coffee:before {
  content: "\f0f4";
}

/* line 1465, ../sass/_ink.scss */
.icon-food:before {
  content: "\f0f5";
}

/* line 1468, ../sass/_ink.scss */
.icon-file-text-alt:before {
  content: "\f0f6";
}

/* line 1471, ../sass/_ink.scss */
.icon-building:before {
  content: "\f0f7";
}

/* line 1474, ../sass/_ink.scss */
.icon-hospital:before {
  content: "\f0f8";
}

/* line 1477, ../sass/_ink.scss */
.icon-ambulance:before {
  content: "\f0f9";
}

/* line 1480, ../sass/_ink.scss */
.icon-medkit:before {
  content: "\f0fa";
}

/* line 1483, ../sass/_ink.scss */
.icon-fighter-jet:before {
  content: "\f0fb";
}

/* line 1486, ../sass/_ink.scss */
.icon-beer:before {
  content: "\f0fc";
}

/* line 1489, ../sass/_ink.scss */
.icon-h-sign:before {
  content: "\f0fd";
}

/* line 1492, ../sass/_ink.scss */
.icon-plus-sign-alt:before {
  content: "\f0fe";
}

/* line 1495, ../sass/_ink.scss */
.icon-double-angle-left:before {
  content: "\f100";
}

/* line 1498, ../sass/_ink.scss */
.icon-double-angle-right:before {
  content: "\f101";
}

/* line 1501, ../sass/_ink.scss */
.icon-double-angle-up:before {
  content: "\f102";
}

/* line 1504, ../sass/_ink.scss */
.icon-double-angle-down:before {
  content: "\f103";
}

/* line 1507, ../sass/_ink.scss */
.icon-angle-left:before {
  content: "\f104";
}

/* line 1510, ../sass/_ink.scss */
.icon-angle-right:before {
  content: "\f105";
}

/* line 1513, ../sass/_ink.scss */
.icon-angle-up:before {
  content: "\f106";
}

/* line 1516, ../sass/_ink.scss */
.icon-angle-down:before {
  content: "\f107";
}

/* line 1519, ../sass/_ink.scss */
.icon-desktop:before {
  content: "\f108";
}

/* line 1522, ../sass/_ink.scss */
.icon-laptop:before {
  content: "\f109";
}

/* line 1525, ../sass/_ink.scss */
.icon-tablet:before {
  content: "\f10a";
}

/* line 1528, ../sass/_ink.scss */
.icon-mobile-phone:before {
  content: "\f10b";
}

/* line 1531, ../sass/_ink.scss */
.icon-circle-blank:before {
  content: "\f10c";
}

/* line 1534, ../sass/_ink.scss */
.icon-quote-left:before {
  content: "\f10d";
}

/* line 1537, ../sass/_ink.scss */
.icon-quote-right:before {
  content: "\f10e";
}

/* line 1540, ../sass/_ink.scss */
.icon-spinner:before {
  content: "\f110";
}

/* line 1543, ../sass/_ink.scss */
.icon-circle:before {
  content: "\f111";
}

/* line 1546, ../sass/_ink.scss */
.icon-mail-reply:before,
.icon-reply:before {
  content: "\f112";
}

/* line 1550, ../sass/_ink.scss */
.icon-github-alt:before {
  content: "\f113";
}

/* line 1553, ../sass/_ink.scss */
.icon-folder-close-alt:before {
  content: "\f114";
}

/* line 1556, ../sass/_ink.scss */
.icon-folder-open-alt:before {
  content: "\f115";
}

/* line 1559, ../sass/_ink.scss */
.icon-expand-alt:before {
  content: "\f116";
}

/* line 1562, ../sass/_ink.scss */
.icon-collapse-alt:before {
  content: "\f117";
}

/* line 1565, ../sass/_ink.scss */
.icon-smile:before {
  content: "\f118";
}

/* line 1568, ../sass/_ink.scss */
.icon-frown:before {
  content: "\f119";
}

/* line 1571, ../sass/_ink.scss */
.icon-meh:before {
  content: "\f11a";
}

/* line 1574, ../sass/_ink.scss */
.icon-gamepad:before {
  content: "\f11b";
}

/* line 1577, ../sass/_ink.scss */
.icon-keyboard:before {
  content: "\f11c";
}

/* line 1580, ../sass/_ink.scss */
.icon-flag-alt:before {
  content: "\f11d";
}

/* line 1583, ../sass/_ink.scss */
.icon-flag-checkered:before {
  content: "\f11e";
}

/* line 1586, ../sass/_ink.scss */
.icon-terminal:before {
  content: "\f120";
}

/* line 1589, ../sass/_ink.scss */
.icon-code:before {
  content: "\f121";
}

/* line 1592, ../sass/_ink.scss */
.icon-reply-all:before {
  content: "\f122";
}

/* line 1595, ../sass/_ink.scss */
.icon-mail-reply-all:before {
  content: "\f122";
}

/* line 1598, ../sass/_ink.scss */
.icon-star-half-full:before,
.icon-star-half-empty:before {
  content: "\f123";
}

/* line 1602, ../sass/_ink.scss */
.icon-location-arrow:before {
  content: "\f124";
}

/* line 1605, ../sass/_ink.scss */
.icon-crop:before {
  content: "\f125";
}

/* line 1608, ../sass/_ink.scss */
.icon-code-fork:before {
  content: "\f126";
}

/* line 1611, ../sass/_ink.scss */
.icon-unlink:before {
  content: "\f127";
}

/* line 1614, ../sass/_ink.scss */
.icon-question:before {
  content: "\f128";
}

/* line 1617, ../sass/_ink.scss */
.icon-info:before {
  content: "\f129";
}

/* line 1620, ../sass/_ink.scss */
.icon-exclamation:before {
  content: "\f12a";
}

/* line 1623, ../sass/_ink.scss */
.icon-superscript:before {
  content: "\f12b";
}

/* line 1626, ../sass/_ink.scss */
.icon-subscript:before {
  content: "\f12c";
}

/* line 1629, ../sass/_ink.scss */
.icon-eraser:before {
  content: "\f12d";
}

/* line 1632, ../sass/_ink.scss */
.icon-puzzle-piece:before {
  content: "\f12e";
}

/* line 1635, ../sass/_ink.scss */
.icon-microphone:before {
  content: "\f130";
}

/* line 1638, ../sass/_ink.scss */
.icon-microphone-off:before {
  content: "\f131";
}

/* line 1641, ../sass/_ink.scss */
.icon-shield:before {
  content: "\f132";
}

/* line 1644, ../sass/_ink.scss */
.icon-calendar-empty:before {
  content: "\f133";
}

/* line 1647, ../sass/_ink.scss */
.icon-fire-extinguisher:before {
  content: "\f134";
}

/* line 1650, ../sass/_ink.scss */
.icon-rocket:before {
  content: "\f135";
}

/* line 1653, ../sass/_ink.scss */
.icon-maxcdn:before {
  content: "\f136";
}

/* line 1656, ../sass/_ink.scss */
.icon-chevron-sign-left:before {
  content: "\f137";
}

/* line 1659, ../sass/_ink.scss */
.icon-chevron-sign-right:before {
  content: "\f138";
}

/* line 1662, ../sass/_ink.scss */
.icon-chevron-sign-up:before {
  content: "\f139";
}

/* line 1665, ../sass/_ink.scss */
.icon-chevron-sign-down:before {
  content: "\f13a";
}

/* line 1668, ../sass/_ink.scss */
.icon-html5:before {
  content: "\f13b";
}

/* line 1671, ../sass/_ink.scss */
.icon-css3:before {
  content: "\f13c";
}

/* line 1674, ../sass/_ink.scss */
.icon-anchor:before {
  content: "\f13d";
}

/* line 1677, ../sass/_ink.scss */
.icon-unlock-alt:before {
  content: "\f13e";
}

/* line 1680, ../sass/_ink.scss */
.icon-bullseye:before {
  content: "\f140";
}

/* line 1683, ../sass/_ink.scss */
.icon-ellipsis-horizontal:before {
  content: "\f141";
}

/* line 1686, ../sass/_ink.scss */
.icon-ellipsis-vertical:before {
  content: "\f142";
}

/* line 1689, ../sass/_ink.scss */
.icon-rss-sign:before {
  content: "\f143";
}

/* line 1692, ../sass/_ink.scss */
.icon-play-sign:before {
  content: "\f144";
}

/* line 1695, ../sass/_ink.scss */
.icon-ticket:before {
  content: "\f145";
}

/* line 1698, ../sass/_ink.scss */
.icon-minus-sign-alt:before {
  content: "\f146";
}

/* line 1701, ../sass/_ink.scss */
.icon-check-minus:before {
  content: "\f147";
}

/* line 1704, ../sass/_ink.scss */
.icon-level-up:before {
  content: "\f148";
}

/* line 1707, ../sass/_ink.scss */
.icon-level-down:before {
  content: "\f149";
}

/* line 1710, ../sass/_ink.scss */
.icon-check-sign:before {
  content: "\f14a";
}

/* line 1713, ../sass/_ink.scss */
.icon-edit-sign:before {
  content: "\f14b";
}

/* line 1716, ../sass/_ink.scss */
.icon-external-link-sign:before {
  content: "\f14c";
}

/* line 1719, ../sass/_ink.scss */
.icon-share-sign:before {
  content: "\f14d";
}

/* line 1722, ../sass/_ink.scss */
.icon-compass:before {
  content: "\f14e";
}

/* line 1725, ../sass/_ink.scss */
.icon-collapse:before {
  content: "\f150";
}

/* line 1728, ../sass/_ink.scss */
.icon-collapse-top:before {
  content: "\f151";
}

/* line 1731, ../sass/_ink.scss */
.icon-expand:before {
  content: "\f152";
}

/* line 1734, ../sass/_ink.scss */
.icon-euro:before,
.icon-eur:before {
  content: "\f153";
}

/* line 1738, ../sass/_ink.scss */
.icon-gbp:before {
  content: "\f154";
}

/* line 1741, ../sass/_ink.scss */
.icon-dollar:before,
.icon-usd:before {
  content: "\f155";
}

/* line 1745, ../sass/_ink.scss */
.icon-rupee:before,
.icon-inr:before {
  content: "\f156";
}

/* line 1749, ../sass/_ink.scss */
.icon-yen:before,
.icon-jpy:before {
  content: "\f157";
}

/* line 1753, ../sass/_ink.scss */
.icon-renminbi:before,
.icon-cny:before {
  content: "\f158";
}

/* line 1757, ../sass/_ink.scss */
.icon-won:before,
.icon-krw:before {
  content: "\f159";
}

/* line 1761, ../sass/_ink.scss */
.icon-bitcoin:before,
.icon-btc:before {
  content: "\f15a";
}

/* line 1765, ../sass/_ink.scss */
.icon-file:before {
  content: "\f15b";
}

/* line 1768, ../sass/_ink.scss */
.icon-file-text:before {
  content: "\f15c";
}

/* line 1771, ../sass/_ink.scss */
.icon-sort-by-alphabet:before {
  content: "\f15d";
}

/* line 1774, ../sass/_ink.scss */
.icon-sort-by-alphabet-alt:before {
  content: "\f15e";
}

/* line 1777, ../sass/_ink.scss */
.icon-sort-by-attributes:before {
  content: "\f160";
}

/* line 1780, ../sass/_ink.scss */
.icon-sort-by-attributes-alt:before {
  content: "\f161";
}

/* line 1783, ../sass/_ink.scss */
.icon-sort-by-order:before {
  content: "\f162";
}

/* line 1786, ../sass/_ink.scss */
.icon-sort-by-order-alt:before {
  content: "\f163";
}

/* line 1789, ../sass/_ink.scss */
.icon-thumbs-up:before {
  content: "\f164";
}

/* line 1792, ../sass/_ink.scss */
.icon-thumbs-down:before {
  content: "\f165";
}

/* line 1795, ../sass/_ink.scss */
.icon-youtube-sign:before {
  content: "\f166";
}

/* line 1798, ../sass/_ink.scss */
.icon-youtube:before {
  content: "\f167";
}

/* line 1801, ../sass/_ink.scss */
.icon-xing:before {
  content: "\f168";
}

/* line 1804, ../sass/_ink.scss */
.icon-xing-sign:before {
  content: "\f169";
}

/* line 1807, ../sass/_ink.scss */
.icon-youtube-play:before {
  content: "\f16a";
}

/* line 1810, ../sass/_ink.scss */
.icon-dropbox:before {
  content: "\f16b";
}

/* line 1813, ../sass/_ink.scss */
.icon-stackexchange:before {
  content: "\f16c";
}

/* line 1816, ../sass/_ink.scss */
.icon-instagram:before {
  content: "\f16d";
}

/* line 1819, ../sass/_ink.scss */
.icon-flickr:before {
  content: "\f16e";
}

/* line 1822, ../sass/_ink.scss */
.icon-adn:before {
  content: "\f170";
}

/* line 1825, ../sass/_ink.scss */
.icon-bitbucket:before {
  content: "\f171";
}

/* line 1828, ../sass/_ink.scss */
.icon-bitbucket-sign:before {
  content: "\f172";
}

/* line 1831, ../sass/_ink.scss */
.icon-tumblr:before {
  content: "\f173";
}

/* line 1834, ../sass/_ink.scss */
.icon-tumblr-sign:before {
  content: "\f174";
}

/* line 1837, ../sass/_ink.scss */
.icon-long-arrow-down:before {
  content: "\f175";
}

/* line 1840, ../sass/_ink.scss */
.icon-long-arrow-up:before {
  content: "\f176";
}

/* line 1843, ../sass/_ink.scss */
.icon-long-arrow-left:before {
  content: "\f177";
}

/* line 1846, ../sass/_ink.scss */
.icon-long-arrow-right:before {
  content: "\f178";
}

/* line 1849, ../sass/_ink.scss */
.icon-apple:before {
  content: "\f179";
}

/* line 1852, ../sass/_ink.scss */
.icon-windows:before {
  content: "\f17a";
}

/* line 1855, ../sass/_ink.scss */
.icon-android:before {
  content: "\f17b";
}

/* line 1858, ../sass/_ink.scss */
.icon-linux:before {
  content: "\f17c";
}

/* line 1861, ../sass/_ink.scss */
.icon-dribbble:before {
  content: "\f17d";
}

/* line 1864, ../sass/_ink.scss */
.icon-skype:before {
  content: "\f17e";
}

/* line 1867, ../sass/_ink.scss */
.icon-foursquare:before {
  content: "\f180";
}

/* line 1870, ../sass/_ink.scss */
.icon-trello:before {
  content: "\f181";
}

/* line 1873, ../sass/_ink.scss */
.icon-female:before {
  content: "\f182";
}

/* line 1876, ../sass/_ink.scss */
.icon-male:before {
  content: "\f183";
}

/* line 1879, ../sass/_ink.scss */
.icon-gittip:before {
  content: "\f184";
}

/* line 1882, ../sass/_ink.scss */
.icon-sun:before {
  content: "\f185";
}

/* line 1885, ../sass/_ink.scss */
.icon-moon:before {
  content: "\f186";
}

/* line 1888, ../sass/_ink.scss */
.icon-archive:before {
  content: "\f187";
}

/* line 1891, ../sass/_ink.scss */
.icon-bug:before {
  content: "\f188";
}

/* line 1894, ../sass/_ink.scss */
.icon-vk:before {
  content: "\f189";
}

/* line 1897, ../sass/_ink.scss */
.icon-weibo:before {
  content: "\f18a";
}

/* line 1900, ../sass/_ink.scss */
.icon-renren:before {
  content: "\f18b";
}

body {
  background: #ededed;
  -webkit-font-smoothing: antialiased;
}

a,
a a:link,
a a:visited {
  color: #2E58A1;
}

a a:active,
a a:hover {
  color: #052861;
  text-decoration: none !important;
}

p {
  line-height: 1.6rem;
  margin: 0.5em 0;
}

.nav {
  margin: 1.5em;
  float: left;
  max-width: 20%;
}

.wiki-page {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  float: left;
  max-width: 75%;
}

