<head>
    <meta charset="utf-8">
    <meta name="description" content="in4k - a website to archive knowledge, tools and resources on how to create demoscene productions such as 1kb, 4kb and 8kb intros.">
    <meta name="keywords" content="demoszene, demoscene, demoparty, seminars, demos, demo, releases, computer, competitions, creative, 1kb, 4kb, 8kb, intros, size, size limited, entries, programs" />
    <meta name="robots" content="index,follow" />
    <link rel="stylesheet" href="../in4k.css">
</head>
